body {
    max-width: 60em;
    margin: 0 auto 0 auto;
    background-color: black;
    background-image: url("../images/TellTaleHeart.jpg"); /* credit the Poe Museum */
    background-repeat: no-repeat;
    background-position: right bottom;
}

h1 {
    background-color: red;
    opacity: 1.0;
    padding: 25px 0;
    border: 5px white;
    text-align: center;
    color: white;
    font-family: American Typewriter, serif; /* may change typeface for improved readability */
    font-size: 250%;
}

p {
    background-color: white;
    opacity: 0.8;
    padding: 10px 0;
    border: 3px red;
    color: black;
    font-family: Optima, sans-serif;
    font-size: 125%;
}

table, th, td {
    border-collapse: collapse;
    border: 1px solid #000;
    padding: 1em;
}
